/* Reset de estilos */
body, h2, table {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    margin-top: 50px;
    text-align: center;
    color: #1E3653;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #F1AF09;
}

th, td {
    border: 1px solid #1E3653;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1E3653;
    color: #F1AF09;
}

a.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    background-color: #1E3653;
    color: #F1AF09;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

a.btn:hover {
    background-color: #007BFF;
    color: #F1AF09;
}
