<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Conteúdo de parte_jogadores_para_sorteio.html -->
{% for jogador in jogadores_para_sorteio %}
<tr>
    <td>{{ jogador.jogador|title }}</td>
    <td>{{ jogador.habilidade|formatar_habilidade }}</td>
    <td>{{ jogador.posicao_primaria|capitalize }}</td>
    <td>{{ jogador.posicao_secundaria|capitalize }}</td>
    <td>{{ jogador.filiacao|capitalize }}</td>
    <td>
        {% if jogador.diretor == 'Sim' %}
            Sim
        {% elif jogador.diretor == 'nao' %}
            Não
        {% else %}
            {{ jogador.diretor|capitalize }}
        {% endif %}
    </td>
    <td>
        <form action="{{ url_for('remover_jogador', jogador_id=jogador.id) }}" method="post">
            <button type="submit">Remover</button>
        </form>
    </td>
</tr>
{% endfor %}

</body>
</html>