<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../static/css/style-index.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <title>Lista de Jogadores</title>
    


</head>
<body>
    <a href="http://127.0.0.1:5000"><h1>Lista de Jogadores</h1></a>
    
    <table id="jogadores-table">
        <thead>
            <tr>
                <th>Jogador</th>
                <th>Habilidade</th>
                <th>Posição Primária</th>
                <th>Posição Secundária</th>
                <th>Filiação</th>
                <th>Diretor</th>
                <th>Adicionar</th>
                <!-- <th>Remover</th> -->
            </tr>
        </thead>
        <tbody>
            {% for jogador in jogadores %}
            <tr>
                <td>{{ jogador.jogador|title }}</td>
                <td>{{ jogador.habilidade|formatar_habilidade }}</td>
                <td>{{ jogador.posicao_primaria|capitalize }}</td>
                <td>{{ jogador.posicao_secundaria|capitalize }}</td>
                <td>{{ jogador.filiacao|capitalize }}</td>
                <td>
                    {% if jogador.diretor == 'Sim' %}
                        Sim
                    {% elif jogador.diretor == 'nao' %}
                        Não
                    {% else %}
                        {{ jogador.diretor|capitalize }}
                    {% endif %}
                </td>
                <td><form action="{{ url_for('adicionar_jogador', jogador_id=jogador.id) }}" method="post">
                    <button type="submit" class="btn-adicionar">Adicionar</button>
                </form>
                
                <form action="{{ url_for('remover_jogador', jogador_id=jogador.id) }}" method="post">
                    <button type="submit" class="btn-remover">Remover</button>
                </form></td>



                <!-- Remova o </td> desta linha -->
                <!-- <td><a href="{{ url_for('adicionar_jogador', jogador_id=jogador.id) }}">Remover</a></td> -->
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <h2>Lista de Jogadores para Sorteio</h2>
    
    <table id="jogadores-para-sorteio-table">
        <thead>
            <tr>
                <th>Lista</th>
                <th>Jogador</th>
                <th>Habilidade</th>
                <th>Posição Primária</th>
                <th>Posição Secundária</th>
                <th>Filiação</th>
                <th>Diretor</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            {% for jogador in jogadores_para_sorteio %}
                <tr>
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ jogador.nome|title }}</td>
                        <td>{{ jogador.habilidade|formatar_habilidade }}</td>
                        <td>{{ jogador.posicao_primaria|capitalize }}</td>
                        <td>{{ jogador.posicao_secundaria|capitalize }}</td>
                        <td>{{ jogador.filiacao|capitalize }}</td>
                        <td>{{ 'Sim' if jogador.adm else 'Não' }}</td>
                    <td><form action="{{ url_for('remover_jogador', jogador_id=jogador.id) }}" method="post">
                        <button type="submit">Remover</button>
                    </form></td>



                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('limpar_lista') }}" method="post">
        <button type="submit">Limpar Lista</button>
    </form>
    
    <form action="{{ url_for('sortear_times') }}" method="get">
        <button type="submit">Sortear Times</button>
    </form>
    
    
    <!-- The rest of your HTML content -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".btn-adicionar");

        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                const jogadorId = button.dataset.jogadorId;

                // Make an asynchronous request to the server
                $.ajax({
                    url: `/adicionar_jogador/${jogadorId}`,
                    method: 'POST',
                    success: function (data) {
                        // Atualiza a parte relevante da página com o novo conteúdo
                        $('#jogadores-para-sorteio-table tbody').html(data);

                        // Opcional: Adicione qualquer outra lógica necessária aqui

                        // Exemplo de alerta indicando que o jogador foi adicionado com sucesso
                        alert('Jogador adicionado com sucesso!');
                    },
                    error: function (error) {
                        console.error('Erro ao adicionar jogador:', error);
                    }
                });
            });
        });

            // Initialize DataTables for the tables
            $('#jogadores-table').DataTable({
        "pageLength": 25,  // Define o número padrão de entradas por página para 25
    });
            $('#jogadores-para-sorteio-table').DataTable({
        "pageLength": 25,  // Define o número padrão de entradas por página para 25
    });
        });
    </script>
    


    
</body>
</html>