<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style-times.css">
    <title>Times Sorteados</title>
</head>
<body>
    <h1>Times Sorteados</h1>
    <ul>
        {% for time in times %}
            <li>
                Time {{ loop.index }} | Habilidade Total: {{ time.habilidade_total }}
                <br>
                Posições Primárias:
                {% for posicao, quantidade in time.posicoes_primarias.items() %}
                    {{ posicao|capitalize }} ({{ quantidade }}){% if not loop.last %}, {% endif %}
                {% endfor %}
                <br>
                Posições Secundárias:
                {% for posicao, quantidade in time.posicoes_secundarias.items() %}
                    {{ posicao|capitalize }} ({{ quantidade }}){% if not loop.last %}, {% endif %}
                {% endfor %}
                <ol>
                    {% for jogador in time.jogadores %}
                        <li>
                            Jogador: {{ jogador.nome }} | Habilidade: {{ jogador.habilidade }}
                            | Posição Primária: {{ jogador.posicao_primaria|capitalize }}
                            | Posição Secundária: {{ jogador.posicao_secundaria|capitalize }}
                            | Filiação: {{ jogador.filiacao|capitalize }}
                            | Diretor: {{ 'Sim' if jogador.adm else 'Não' }}
                        </li>
                    {% endfor %}
                </ol>
            </li>
            <br>
        {% endfor %}
    </ul>
    
</body>
</html>
