<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Comparação de Jogadores</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='comparacao.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('comparison') }}">Comparação</a>
    </div>
    <h1>Comparação de Jogadores</h1>

    <form action="{{ url_for('comparison') }}" method="post" id="comparisonForm">
        <label for="player1">1° Jogador:</label>
        <select name="player1" id="player1">
            {% for player in players %}
                <option value="{{ player }}">{{ player }}</option>
            {% endfor %}
        </select>
    
        <label for="player2">2° Jogador:</label>
        <select name="player2" id="player2">
            {% for player in players %}
                <option value="{{ player }}">{{ player }}</option>
            {% endfor %}
        </select>
    
        <button type="submit">Comparar</button>
    </form>

    <!-- Aqui você pode adicionar a comparação lado a lado dos jogadores -->
    {% if player_data1 and player_data2 %}
        <h2>Comparação</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Estatísticas</th>
                    <th>{{ player1 }}</th>
                    <th>{{ player2 }}</th>
                </tr>
            </thead>
            
            <tbody>
                {% for key in player_data1.keys() %}
                    {% if key != 'Nome' %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                {% if key == 'Aproveitamento' %}
                                    {{ "%0.2f" % (player_data1[key]*100) }}%
                                {% else %}
                                    {{ player_data1[key]|int_or_none }}
                                {% endif %}
                                {% if player_data1[key] > player_data2[key] %}
                                    <span style="color:green;">↑</span> 
                                {% elif player_data1[key] < player_data2[key] %}
                                    <span style="color:red;">↓</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if key == 'Aproveitamento' %}
                                    {{ "%0.2f" % (player_data2[key]*100) }}%
                                {% else %}
                                    {{ player_data2[key]|int_or_none }}
                                {% endif %}
                                {% if player_data2[key] > player_data1[key] %}
                                    <span style="color:green;">↑</span> 
                                {% elif player_data2[key] < player_data1[key] %}
                                    <span style="color:red;">↓</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const player1Select = document.getElementById('player1');
        const player2Select = document.getElementById('player2');

        player1Select.addEventListener('change', function () {
            const selectedPlayer1 = this.value;
            const selectedPlayer2 = player2Select.value;

            if (selectedPlayer1 && selectedPlayer1 === selectedPlayer2) {
                player2Select.selectedIndex = 0;
            }
        });

        player2Select.addEventListener('change', function () {
            const selectedPlayer2 = this.value;
            const selectedPlayer1 = player1Select.value;

            if (selectedPlayer2 && selectedPlayer2 === selectedPlayer1) {
                player1Select.selectedIndex = 0;
            }
        });
    });
</script>
</html>
