<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Jogador</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='perfil.css') }}">
</head>
<body>
    <h2>Jogador: {{ player_data['Nome'] }}</h2>
    <h2>Estatísticas</h2>
<table>
    <tr>
        <th>Item</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Pontos</td>
        <td>{{ player_data['Pontos']|int }}</td>

    </tr>
    <tr>
        <td>Jogos</td>
        <td>{{ player_data['Jogos']|int }}</td>
    </tr>
    <tr>
        <td>Gols | %</td>
        <td>{{ player_data['Gols']|int }} | {{ "%.1f" | format((player_data['Gols'] / player_data['Jogos']) * 100) }}%</td>
    </tr>
    <tr>
        <td>Assistências | %</td>
        <td>{{ player_data['Assistências']|int }} | {{ "%.1f" | format((player_data['Assistências'] / player_data['Jogos']) * 100) }}%</td>
    </tr>
    <tr>
        <td>Participações em gols | % </td>
        <td>{{ player_data['Participações em gols']|int }} | {{ "%.1f" | format((player_data['Participações em gols'] / player_data['Jogos']) * 100) }}%</td>
    </tr>
    <tr>
        <td>Vitórias</td>
        <td>{{ player_data['Vitórias']|int }}</td>
    </tr>
    <tr>
        <td>Derrotas</td>
        <td>{{ player_data['Derrotas']|int }}</td>
    </tr>
    <tr>
        <td>Empate</td>
        <td>{{ player_data['Empate']|int }}</td>
    </tr>
    <tr>
        <td>Aproveitamento</td>
        <td>{{ "%.1f" | format(((player_data['Empate'] * 1) + (player_data['Vitórias'] * 3)) / (player_data['Jogos'] * 3) * 100) }}%</td>
    </tr>
    <tr>
        <td>C/A</td>
        <td>{{ player_data['C/A']|int }}</td>
    </tr>
    <tr>
        <td>C/V</td>
        <td>{{ player_data['C/V']|int }}</td>
    </tr>
</table>
<a href="{{ url_for('dashboard') }}" class="btn btn-primary">Voltar para o Dashboard</a>
</body>
</html>
